<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
<!--    &lt;!&ndash; logstash地址，从 application.yml 中获取&ndash;&gt;-->
<!--    <springProperty scope="context" name="LOGSTASH_ADDRESS" source="logstash.address"/>-->
<!--    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name"/>-->
<!--    &lt;!&ndash;日志在工程中的输出位置&ndash;&gt;-->
<!--    <property name="LOG_FILE" value="/Users/mireux/test_log/log"/>-->
<!--    &lt;!&ndash; 彩色日志依赖的渲染类 &ndash;&gt;-->
<!--    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>-->
<!--    <conversionRule conversionWord="wex"-->
<!--                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>-->
<!--    <conversionRule conversionWord="wEx"-->
<!--                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>-->
<!--    &lt;!&ndash;控制台的日志输出样式&ndash;&gt;-->
<!--    <property name="CONSOLE_LOG_PATTERN"-->
<!--              value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>-->
<!--    &lt;!&ndash; 控制台输出 &ndash;&gt;-->
<!--    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--        &lt;!&ndash; 日志输出编码 &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
<!--            <charset>utf8</charset>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    &lt;!&ndash;文件&ndash;&gt;-->
<!--    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        &lt;!&ndash; 多JVM同时操作同一个日志文件 &ndash;&gt;-->
<!--        <Prudent>false</Prudent>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <FileNamePattern>-->
<!--                ${LOG_FILE}.%d{yyyy-MM-dd}.log-->
<!--            </FileNamePattern>-->
<!--            &lt;!&ndash; 日志最大的历史 10天 &ndash;&gt;-->
<!--            <maxHistory>10</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %-5level logger{39} -%msg%n-->
<!--            </Pattern>-->
<!--        </layout>-->
<!--    </appender>-->
<!--    &lt;!&ndash;输出到logstash的appender&ndash;&gt;-->
<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        &lt;!&ndash;可以访问的logstash日志收集端口&ndash;&gt;-->
<!--        <destination>${LOGSTASH_ADDRESS}</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <timestamp>-->
<!--                    <timeZone>Asia/Shanghai</timeZone>-->
<!--                </timestamp>-->
<!--                <pattern>-->
<!--                    <pattern>-->
<!--                        {-->
<!--                        "app": "${APPLICATION_NAME}",-->
<!--                        "level": "%level",-->
<!--                        "thread": "%thread",-->
<!--                        "logger": "%logger{50} %M %L ",-->
<!--                        "message": "%msg"-->
<!--                        }-->
<!--                    </pattern>-->
<!--                </pattern>-->
<!--                <stackTrace>-->
<!--                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">-->
<!--                        <maxDepthPerThrowable>100</maxDepthPerThrowable>-->
<!--                        <rootCauseFirst>true</rootCauseFirst>-->
<!--                        <inlineHash>true</inlineHash>-->
<!--                    </throwableConverter>-->
<!--                </stackTrace>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="console"/>-->
<!--        <appender-ref ref="fileAppender"/>-->
<!--        <appender-ref ref="LOGSTASH"/>-->
<!--    </root>-->
<!--</configuration>-->

