<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduationlhj.mapper.UserMapper">

    <!--    Role getRoleByUserId(Long id);    -->
    <select id="getRoleByUserId" resultType="com.example.graduationlhj.entity.Role">
        SELECT r.`name`, r.roleKey
        FROM `user` as u,
             role as r
        where r.id = u.roleId
          and u.id = #{userId};
    </select>
    <!--    String getUserNameById(Long userId);    -->
    <select id="getUserNameById" resultType="java.lang.String">
        select userName
        from user
        where id = #{userId}
    </select>

    <!--    int updateAvatarByUserId(String imageUrl,Long id);   -->
    <update id="updateAvatarByUserId">
        update user
        set avatar = #{imageUrl}
        where id = #{id}
    </update>
</mapper>
